<form action ="/save_assignment">
  <input type="text" placeholder="General Info" name="assignment[general_info]" value="<%= params["general_info"] %>">
  <input type="text" placeholder="Github Link" name="assignment[github_link]" value="<%= params["github_link"] %>">
  <input type="text" placeholder="Co-Workers" name="assignment[co_workers]" value="<%= params["co_workers"] %>">
  <input type="submit">
</form>
