
<header>
  <h1 id=front_header> Welcome to the Assignment Navigator </h1>
</header>

<nav>
  
  <a href="http://localhost:4567/login">Log In</a>
  <div id="menu">
    <div class="menu_section">
      <h2>Users</h2>
      
      <ul>
        <li><a class="button" href="/add_assignment">Add a new assignment.</a></li>
        <li><a class="button" href="/view_assignments">View assignment information.</a></li>
        <li><a class="button" href="/edit_assignment">Edit a assignment.</a></li>
        <li><a class="button" href="/delete_assignment">Delete a assignment.</a></li>
      </ul>
      
    </div>
    
    <div class="menu_section">
      <h2>Links</h2>
      
      <ul>
        <li><a class="button" href="/add_link">Add a new link.</a></li>
        <li><a class="button" href="/view_links">View links.</a></li>
        <li><a class="button" href="/delete_link">Delete a link.</a></li>
      </ul>
      
    </div>
  </div>
</nav>

